@import "tailwindcss";

:root {
  --background: #f6f8f6;
  --foreground: #0f172a;
  --primary: #5de619;
  --secondary: #162111;
}

@theme {
  --color-primary: var(--primary);
  --color-background-light: var(--background);
  --color-background-dark: var(--secondary);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  min-height: 100dvh;
}

.glass {
  @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-sm;
}

.dark .glass {
  @apply bg-slate-900/70 backdrop-blur-md border border-white/5 shadow-sm;
}
